.barra-inicial{
    display: grid;
    grid-template-columns: auto auto auto 50%;
    background-color: blue;
    padding: 1% 1%;
}

a{
    display: grid;
    color: white;
}

.form-alumno{
    display: grid;
    grid-template-columns: 30% 30% auto;
    align-items: center;
    text-align: center;
}

.btnRegistrar{
    display: grid;
    background-color: rgb(30, 30, 129);
    color: white;
    margin-top: 5%;
    margin-left: 10%;
    padding: 2% 2%;
}