.barra-inicial{
    display: grid;
    grid-template-columns: auto auto auto 50%;
    background-color: blue;
    padding: 1% 1%;
}

a{
    display: grid;
    color: white;
}

.container-infoName{
    display: grid;
    grid-template-rows: 2;
    border-style: groove;
    margin-right: 50%;
    background-color: rgb(216, 204, 204);
}
.container-info{
    border-top-style: groove;
    background-color: whitesmoke;
}

.container-save{
    display: grid;
    grid-template-columns: 5% 30% 30%;
    padding: 1% 1%;
    border-bottom-style: groove;
}


