.container-all{
    display: grid;
    
    grid-template-columns: auto 40% auto;
    grid-template-rows: 50% 40% auto;
    /*grid-gap 10px;*/
}

.container{
    
    display: grid;
    grid-column: 2;
    grid-row: 2 / span 3;
    background-color: rgb(203, 214, 224);
    border-style: groove;
    padding: 0px 20px;
}

h2{
    display: grid;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.form-label{
    display: grid;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-bottom: 3%;
    padding-top: 2%;
}

.form-input{
    display: grid;
    border-style: inset;
    width: 80%;
}

.btn{
    display: grid;
    background-color: rgb(30, 30, 129);
    color: white;
    margin-top: 5%;
    padding: 2% 8%;
}
